<h1> Headset: <%= @headset.name %> </h1>
<br>
<h3><%= @headset.name + " - " + @headset.brand + " - " + @headset.color + " - " + @headset.price.to_s %></h3>

<p> <%= link_to "Customize Headset", edit_headset_path(@headset) %></p>
<p> <%= link_to "Delete Headset", headset_path(@headset),
        method: "delete",
        data: {:confirm => "Are You Sure??!?"} %></p>
<p> <%= link_to "Back to Headset List", headsets_path(@headset) %></p>
